<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>911 Reports</title>
</head>
<body>
    <h1>911 REPORT</h1><a href="/">Home</a> <a href="/reports">List Report</a>
    <center><h2>911 Report</h2></center>
    <center><h6>This is a platform where you can post any event on your surrounding.</h6></center>
    <center><h6>With this platform, JPD is trying to make your reporting experience more enjoyable</h6></center><br><br>
    <center><a href="reports/add">Post Report Now</a> <a href="/reports">List Report</a></center>
</body>
</html>